#openFrameworks
main/*.make
main/Makefile
main/openFrameworks-Info.plist
main/openFrameworks.xcodeproj
main/Project.xcconfig
main/bin/mainDebug.app/
main/main.xcodeproj/

#Processing
/AxiDraw_Mouse/cncserver